<a href="https://colab.research.google.com/github/shubham1881/Evekon-Logic-Repositry-Data_Engineering/blob/main/Pyspark_challenge_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [11]:
df=spark.read.csv("/challenge.csv",header=True)
from pyspark.sql.functions import *
df.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [14]:
df2=df.withColumn('Mexico_home',when(df.Country == 'China','Yes').otherwise("no"))
df2.show()

+---------------+--------------+-----------------+----------+-----------+
|     ip_address|       Country|      Domain Name|Bytes_used|Mexico_home|
+---------------+--------------+-----------------+----------+-----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|        Yes|
| 119.239.207.13|         China|         youtu.be|        51|        Yes|
|  68.69.217.210|         China|        adobe.com|        10|        Yes|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|         no|
|   211.13.10.68|     Indonesia|          hud.gov|        29|         no|
|   239.80.21.97|      Suriname|       smh.com.au|       218|         no|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|         no|
| 127.242.24.138|         China| surveymonkey.com|       123|        Yes|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|         no|
|   237.54.11.63|         China|       amazon.com|        83|        Yes|
| 252.141.157.25|         Japan|      cornell.edu|       374|         no|
|185.220.128.248|       Belgium|       weebly.com|       389|         no|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|         no|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|         no|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|         no|
|   8.96.188.151|     Indonesia|          ibm.com|       517|         no|
|      5.72.7.65|        Mexico|         youtu.be|       877|         no|
|227.110.112.144|       Croatia|         ehow.com|       287|         no|
|    81.71.28.97|      Thailand|          last.fm|       588|         no|
|  9.255.129.184|      Thailand|          mtv.com|       114|         no|
+---------------+--------------+-----------------+----------+-----------+
only showing top 20 rows

In [15]:
df3=df2.groupBy('Mexico_home').agg(sum(df2.Bytes_used))
df3.show()

+-----------+---------------+
|Mexico_home|sum(Bytes_used)|
+-----------+---------------+
|        Yes|        83398.0|
|         no|       430971.0|
+-----------+---------------+

In [20]:
df4=df.groupBy('Country').agg(countDistinct(df.ip_address).alias("Distinct_count"))
df4.sort(col("Distinct_count").desc()).show()

+--------------+--------------+
|       Country|Distinct_count|
+--------------+--------------+
|         China|           172|
|     Indonesia|           114|
|   Philippines|            65|
|        Russia|            56|
|        Brazil|            35|
|        Poland|            31|
|        Sweden|            28|
|         Japan|            25|
|Czech Republic|            23|
|      Portugal|            23|
|        France|            21|
|          Peru|            19|
|      Colombia|            17|
| United States|            15|
|     Argentina|            14|
|       Ukraine|            14|
|        Mexico|            13|
|      Thailand|            12|
|       Nigeria|            11|
|        Canada|            11|
+--------------+--------------+
only showing top 20 rows

# New Section